In [1]:
import requests
import json
import pandas as pd
import ta

In [33]:
def daily_df(ticker):

    API_URL = "https://www.alphavantage.co/query"

    data = {
        "function": "TIME_SERIES_DAILY",
        "symbol": ticker,
        "outputsize": "compact",
        "datatype": "json",
        "apikey": "PVGTC9P6IUS7XLQ9",
        }

    response = requests.get(API_URL, params=data)
    
    if response.status_code == 200:
        stock_data = response.json()
        meta_data = stock_data['Meta Data']
        daily_data = stock_data['Time Series (Daily)']
        daily_dataframe_rev = pd.DataFrame.from_dict(daily_data)
        daily_dataframe = daily_dataframe_rev.transpose()     
        daily_dataframe.columns = ['open', 'high', 'low', 'close', 'volume']
        for i in daily_dataframe.columns:
            column2convert = daily_dataframe[i]
            column_size = column2convert.size
            for k in range(0,column_size):
                column2convert[k] = float(column2convert[k])
        return daily_dataframe

In [3]:
daily_df('AAPL').head()

                open      high       low     close    volume
2019-10-25  243.1600  246.7200  242.8900  246.5800  15827692
2019-10-24  244.5100  244.8000  241.8100  243.5800  17318800
2019-10-23  242.1000  243.2400  241.2200  243.1800  18957200
2019-10-22  241.1600  242.2000  239.6200  239.9600  20573400
2019-10-21  237.5200  240.9900  237.3200  240.5100  21811800

In [32]:
for i in range(0,10):
    daily_df('AAPL').head()

KeyError: 'Time Series (Daily)'

In [22]:
test = daily_df('AAPL')

In [11]:
test_size = test['close'].

pandas.core.series.Series

In [28]:
ta.momentum.tsi(test['close'])

2019-10-25    100.000000
2019-10-24     94.062218
2019-10-23     91.509201
2019-10-22     87.670590
2019-10-21     85.257537
2019-10-18     81.620535
2019-10-17     78.466746
2019-10-16     75.689014
2019-10-15     73.484670
2019-10-14     71.676980
2019-10-11     70.155748
2019-10-10     67.321759
2019-10-09     64.165651
2019-10-08     60.847972
2019-10-07     58.083742
2019-10-04     55.636637
2019-10-03     52.293788
2019-10-02     48.997150
2019-10-01     46.411522
2019-09-30     44.012171
2019-09-27     41.043914
2019-09-26     38.468306
2019-09-25     36.236567
2019-09-24     33.736927
2019-09-23     31.560244
2019-09-20     29.452121
2019-09-19     27.785649
2019-09-18     26.414650
2019-09-17     24.892484
2019-09-16     23.401657
                 ...
2019-07-18     -6.706653
2019-07-17     -6.836624
2019-07-16     -6.837887
2019-07-15     -6.767637
2019-07-12     -6.872556
2019-07-11     -7.104354
2019-07-10     -7.162600
2019-07-09     -7.392846
2019-07-08     -7.710865
2019-07-05     -7.557809
2019-07-03     -7.400276
2019-07-02     -7.410815
2019-07-01     -7.529105
2019-06-28     -7.972723
2019-06-27     -8.176637
2019-06-26     -8.355282
2019-06-25     -8.914585
2019-06-24     -9.083019
2019-06-21     -9.212937
2019-06-20     -9.253242
2019-06-19     -9.442353
2019-06-18     -9.546946
2019-06-17    -10.085515
2019-06-14    -10.686293
2019-06-13    -11.061569
2019-06-12    -11.398400
2019-06-11    -11.628896
2019-06-10    -12.061867
2019-06-07    -12.700118
2019-06-06    -13.772418
Name: tsi, Length: 100, dtype: float64